    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../stylesheets/account.css">
        <script src="https://kit.fontawesome.com/d7de81155c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap"
            rel="stylesheet">
        <title>Conta</title>
        <script src="../javascripts/functions.js"></script>
        <link rel="stylesheet" href="../stylesheets/loadScreen.css">
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    </head>

    <div id="wrapper">
        <svg>
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                PoggersFlix
            </text>
        </svg>
    </div>

    <body>

        <header>
            <nav>
                <h1><a href="/home">Poggers<contrast id="flix">Flix</contrast></a></h1>
                <div class="links">
                    <a href="/home" id="current">Início</a>
                    <a href="/catalog?type=movies" class="pages">Filmes</a>
                    <a href="/catalog?type=series" class="pages">Séries</a>
                </div>
                <div class="right">
                    <div class="searchBar">
                        <form name="search" action="/catalog">
                            <input type=" text" class="input" name="query" onmouseout="this.value = ''; this.blur();">
                        </form>
                        <i class="fas fa-search"></i>
                    </div>

                </div>
            </nav>
            <nav id="menu">
                <h1><a>Poggers<contrast id="flix">Flix</contrast></a></h1>
                <button onclick="showNav()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div id="navContent" style="display: none;">
                    <a href="/catalog?type=movies">Filmes</a>
                    <a href="/catalog?type=series">Séries</a>

                    <div class="searchBar">
                        <form name="search" action="/catalog">
                            <input type="text" class="input" name="query" onmouseout="this.value = ''; this.blur();"">
                        </form>
                        <i class=" fas fa-search"></i>
                    </div>
                </div>
            </nav>
        </header>

        <section class="userProfile">

            <div id="holderPic">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIxfO0el9_f17_msy47K6rpofzEQfA8Dvg&usqp=CAU"
                    id="user">

                <p id="name">Cleitinho Leite</p>
                <p id="typeUser">Usuário <contrast>premium</contrast>
                </p>

            </div>

        </section>

        <section id="options">

            <form id="oneHolder">
                <fieldset id="one">
                    <label for="username" id="userlabel">Mudar nome</label>
                    <input type="text" name="username" id="username" placeholder="Cleitinho Leite">

                    <label for="new email" id="new label">Mudar email</label>
                    <input type="email" name="new email" id="new input" placeholder="cleitonleite@gmail.com">

                    <label for="new key" id="key label">Mudar senha</label>

                    <fieldset id="key">
                        <input type="password" name="old key" id="old input" placeholder="Digite sua senha">
                        <input type="password" name="new key" id="key input" placeholder="Digite sua senha nova">
                        <input type="password" name="confirm key" id="comfirm key" placeholder="Confirme sua senha">
                    </fieldset>


                    <label for="theme" id="tema">Tema</label>
                    <select name="theme" id="theme" placeholder="Selecione o tema">
                        <option value="default" style="background: inherit;">Padrão</option>
                        <option value="light" style="background: inherit;">Light Mode</option>
                        <option value="dark-yellow" style="background: inherit;">Dark and Yellow</option>
                    </select>


                    <button type="submit" id="submit">Salvar Mudanças</button>

                </fieldset>
            </form>

            <button id="premium">Assinar <contrast>Premium</contrast></button>

        </section>


    </body>

    </html>