<head>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
</head>

<h1>
    Error - <%= error.status %>
</h1>
<h2>
    <%= message %>
</h2>

<style>
    * {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    h1 {
        border-bottom: 3px solid red;
        margin: 2rem auto;
        width: fit-content;
    }

    body {
        background: radial-gradient(60% 50%, #0F0F0F, #191919);
    }
</style>