* {
    margin: 0;
    transition: 0.3s;
    scroll-behavior: smooth;
    color: var(--text-color);
}

:root {
    --backgound-scheme: #0F0F0F, #191919;
    --detail-color: red;
    --text-color: white;
}

body {
    background-image: radial-gradient(60% 50%, var(--backgound-scheme));
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
    position: absolute;
    z-index: 100;
    width: calc(100% - 4rem);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

nav h1 {
    width: 27%;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

.searchBar {
    position: relative;
}

.input {
    padding: 10px;
    width: 60px;
    height: 40px;
    background: none;
    border: 2px solid var(--detail-color);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--text-color);
    outline: none;
    transition: .5s;
}

.searchBar:hover input {
    width: 150px;
    background: inherit;
    border-radius: 10px;
    display: inline;
}

.searchBar i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--detail-color);
    transition: .2s;
}

.searchBar:hover i {
    opacity: 0;
    z-index: -1;
}

.right {
    width: 23%;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 110%;
    width: 50%;
}

.links a {
    margin: 0 10%;
    display: block;
}

nav input {
    display: inline;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 2rem;
    border-radius: 100%;
    margin-left: 2rem;
}

.search {
    font-size: x-large;
}

.search i {
    margin: 0 1rem;
}

.presents {
    display: inline-block;
    position: relative;
}

.presents img {
    z-index: -50;
    width: 100%;
    opacity: 30%;
    top: 0;
    -webkit-mask-image: linear-gradient(to top, transparent 2%, var(--backgound-scheme));

}

.presents .movieTitle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    /* right: 2%; */
    bottom: 15%;
    font-size: 100%;
}

.movieTitle h1 {
    font-weight: 900;
    font-size: 680%;
}

.movieTitle p {
    width: 60%;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}

section {
    width: 92%;
    margin: 5rem auto;
    margin-top: 3rem;
}

.sectionTitle {
    display: flex;
    align-items: center;
}

.lineDetail {
    width: .7rem;
    height: 2.5rem;
    border-radius: 30px;
    margin-right: 1rem;
    background-color: var(--detail-color);
}

.movieRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow: auto hidden;
    -webkit-mask-image: linear-gradient(to left, transparent -30%, var(--backgound-scheme));
}

.movieCover img {
    width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 35px;
    margin: 1rem;
}

.movieCover:hover {
    transform: scale(1.1);
}

#keepWatching {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#kwContent {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 40%;
}

#kwTitle {
    font-size: 3.5rem;
}

#kwSinopse {
    margin-top: 1.2rem;
    text-indent: 20px;
}

#kwWatchNow {
    margin: 2rem auto;
    padding: 1rem;
    border: 3px solid var(--detail-color);
    border-radius: 35px;
    text-align: center;
}

#kwCover img {
    border-radius: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--detail-color);
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c90000;
}

#flix {
    padding: 0;
}

#joinButton {
    border: 2px solid var(--detail-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: 1rem;
}

.slogan {
    width: 60%;
    margin: 8rem auto;
    text-align: center;
    font-size: 1.8rem;
}

#sloganStart {
    display: block;
    background-color: var(--detail-color);
    margin: 2rem auto;
    width: 50%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}

hr {
    width: 70%;
    margin: 5rem auto;
    border: 2px solid var(--detail-color);
    border-radius: 100%;
}



section h2 {
    font-size: 1.9rem;
}

.sectionContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.sectionContent img {
    width: 40%;
    margin-right: 1rem;
}

contrast {
    color: var(--detail-color);
    border-radius: 10px;
    padding: 0 0.3rem;
}

footer {
    text-align: center;
    margin: 1rem auto;
}

/*Responsividade tablets*/
@media screen and (min-width: 600px) and (max-width: 995px) {
    .movieTitle {
        width: 90%;
        height: fit-content;
        top: 60%;
        /* right: -5%; */
    }

    .movieTitle h1 {
        font-size: 3.8rem;
    }

    .sectionTitle h2 {
        font-size: 1.7rem;
    }

    .movieCover img {
        width: 250px;
        height: 170px;
    }

    #kwCover img {
        width: 320px;
    }

    #kwContent {
        padding-left: 0;
    }

    #kwTitle {
        font-size: 2rem;
    }

    #kwSinopse {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        line-clamp: 3;
        text-align: justify;
        -webkit-box-orient: vertical;
    }
}

/*Responsividade celulares*/
@media screen and (min-width: 0) and (max-width: 599px) {
    .presents {
        margin-bottom: -5%;
    }

    .presents img {
        object-fit: cover;
        height: 50rem;
        -webkit-mask-image: linear-gradient(to top, transparent 1%, var(--backgound-scheme));
    }

    .movieTitle {
        width: 90%;
        height: fit-content;
        top: 60%;
        /* right: -5%; */
    }

    .movieTitle h1 {
        font-size: 2.8rem;
    }

    .movieTitle p {
        font-size: 0.9rem;
    }

    .sectionTitle h2 {
        font-size: 1.1rem;
    }

    .movieCover img {
        width: 250px;
        height: 170px;
    }

    #keepWatching {
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    #kwCover img {
        width: 320px;
    }

    #kwContent {
        padding: 0;
        margin: 2rem 0;
        width: 80%;
    }

    #kwTitle {
        font-size: 2rem;
    }

    #kwSinopse {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        line-clamp: 3;
        text-align: justify;
        -webkit-box-orient: vertical;
    }
}