:root {
    --backgound: #0F0F0F, #191919;
    --white: #F5F5F5;
    --red: #D60303;
    --black: #0f0f0f;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    color: var(--white);
    font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
    
}


body {
    background: radial-gradient(60% 50%, var(--backgound));
    background-repeat: cover;
}

button {
    border: 0;
    border-radius: 0.3rem;
    display: block;
    background: var(--red);
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 20rem;
}


nav {
    display: flex;
    margin-top: 1rem;

}

flix {
    color: var(--red);
}


nav h1 {
    font-size: 2rem;
    margin: 1rem 1rem;
    display: inline;
}

a {
    text-decoration: none;
}

.links {
    margin: 1rem auto;
    width: 50%;
}

.links a {
    display: inline-block;
    position: relative;
    cursor: default;

}

.links a::before {
    content: "";
    background-color: var(--red);
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: transform .4s ease;
    transform-origin: right;
    transform: scaleX(0);
    border-radius: 10%;
    padding: 10px;
}

.links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.links a {
    margin: 2rem 5rem;
}

.search {
    font-size: x-large;
    color: var(--white);
}

.search i {
    margin: auto 1.3rem;
}

#list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movies{
    width: 10rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem;
}

.movies a:hover{
    transition: 1s;
    transform: scale(1.1);

}
