* {
    margin: 0;
    transition: 0.3s;
    scroll-behavior: smooth;
    color: var(--text-color);
}

:root {
    --backgound-scheme: #0F0F0F, #191919;
    --detail-color: red;
    --text-color: white;
}

body {
    background-color: #000000;
    /* background-image: radial-gradient(60% 50%, var(--backgound-scheme)); */
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;
    position: absolute;
    z-index: 100;
    width: calc(100% - 4rem);
}

nav h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    text-align: center;
    font-size: 110%;
    width: 60%;
}

.links a {
    margin: 0 4rem;
    display: block;
    width: 20%;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 2rem;
    border-radius: 100%;
    margin-left: 2rem;
}

.search {
    font-size: x-large;
}

.search i {
    margin: 0 1rem;
}

.mainContainer {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#background img {
    z-index: -50;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    opacity: 10%;
    filter: saturate(2);
    -webkit-mask-image: linear-gradient(45deg, transparent 2%, var(--backgound-scheme));
}

.movieInfoContainer {
    width: min-content;
    margin: auto 6rem;
    width: 50%;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.1vmax, 1.3vmax, 1.3vmax);
}

.movieInfo {
    width: calc(100% - 4rem);
}

.movieInfo h1 {
    font-size: clamp(1vmax, 5rem, 6vmax);
}

.movieEpisodesContainer {
    position: absolute;
    width: 25%;
    height: 60%;
    max-height: 60%;
    min-height: 20%;
    right: 0%;
    top: 10%;
    margin-right: 5rem;
    padding: 0rem 1rem 06rem 0rem;
    display: flex;
    justify-content: left;
    align-items: top;
    flex-direction: column;
    overflow-y: scroll;
}


.movieEpisode {
    margin: .8rem 1rem;
    /* height: 200px; */
}

.movieEpisodesContent img {
    width: 300px;
    height: 165px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(60%);
}

.movieEpisode:hover {
    transform: scale(1.1);
}

.movieEpisodesContent a p {
    width: fit-content;
    margin-left: .5rem;
}

.detailBar {
    z-index: 1000;
    width: .5rem;
    height: 25rem;
    margin-right: 3rem;
    border-radius: 25px;
    background-color: var(--detail-color);
}

#movieClass {
    display: inline-block;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 25px;
    border: 2px solid var(--detail-color);
}

#movieSize {
    display: inline-block;
    margin-left: 3rem;
    color: var(--detail-color);
    font-weight: 800;
}

#movieSinopse {
    margin: 2rem 0;
    text-indent: 2rem;
    text-align: justify;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--detail-color);
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c90000;
}


contrast {
    color: var(--detail-color);
    border-radius: 10px;
    padding: 0 0.3rem;
}




/*Responsividade tablets*/
@media screen and (min-width: 600px) and (max-width: 1351px) {
    .mainContainer {
        position: absolute;
        width: 100%;
        top: 70%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .movieInfoContainer {
        width: 70%;
        font-size: clamp(1vmax, 2vmax, 3vmax);
    }

    .movieEpisodesContainer {
        width: 80%;
        max-height: 60%;
        min-height: 20%;
        margin: 5rem auto;
        padding: 2rem;
        display: flex;
        justify-content: left;
        align-items: top;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        right: 0%;
        top: 90%;
    }

    .movieEpisode {
        width: fit-content;
    }

    .movieEpisodesContent {
        width: fit-content;
    }

    .movieEpisodesContent img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(60%);
    }

}

/*Responsividade celulares*/
@media screen and (min-width: 0) and (max-width: 599px) {
    .mainContainer {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .movieInfoContainer {
        width: 70%;
        font-size: clamp(1vmax, 1.5vmax, 1.5vmax);
        margin: 6rem auto;
    }

    .movieInfoContainer h1 {
        font-size: clamp(2vmax, 4vmax, 4vmax);
    }

    #movieSinopse {
        font-size: clamp(1vmax, 2vmax, 3vmax);
    }

    .movieEpisodesContainer {
        width: 90%;
        margin: .1rem auto;
        padding-bottom: .5rem;
        display: flex;
        justify-content: left;
        align-items: top;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        right: 0%;
        top: 100%;
    }

    .movieEpisode {
        width: fit-content;
    }

    .movieEpisodesContent {
        width: fit-content;
    }

    .movieEpisodesContent img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(60%);
    }

}













@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

svg {
    font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    width: 100%;
}

svg text {
    animation: stroke 3s infinite alternate;
    stroke-width: 2;
    stroke: #FF0000;
    font-size: 100px;
}

@keyframes stroke {
    0% {
        fill: rgba(204, 29, 29, 0);
        stroke: rgba(255, 0, 0, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(204, 29, 29, 0);
        stroke: rgba(255, 0, 0, 1);
    }

    80% {
        fill: rgba(204, 29, 29, 0);
        stroke: rgba(255, 0, 0, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(204, 29, 29, 1);
        stroke: rgba(255, 0, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

#wrapper {
    z-index: 9999;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: fixed;
    position: fixed;
}