:root {
    --backgound: #0F0F0F, #191919;
    --white: #F5F5F5;
    --red: #D60303;
    --black: #0f0f0f;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    color: var(--white);
    font-family: 'Montserrat', Tahoma, Verdana, sans-serif;
    
}


body {
    background: radial-gradient(60% 50%, var(--backgound));
    background-repeat: cover;
}

button {
    border: 0;
    border-radius: 0.3rem;
    display: block;
    background: var(--red);
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 20rem;
}


nav {
    display: flex;
    margin-top: 1rem;

}

flix {
    color: var(--red);
}


nav h1 {
    font-size: 2rem;
    margin: 1rem 1rem;
    display: inline;
}

a {
    text-decoration: none;
}

.links {
    top: 1rem;
    left: 20rem;
    right: 10rem;
}

.links a {
    display: inline-block;
    position: relative;
    cursor: default;

}

.links a::before {
    content: "";
    background-color: var(--red);
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: transform .4s ease;
    transform-origin: right;
    transform: scaleX(0);
    border-radius: 10%;
    padding: 10px;
}

.links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.links a {
    margin: 2rem 5rem;
}

.search {
    font-size: x-large;
    color: var(--white);
}

.search i {
    margin: auto 1.3rem;
}

section {
    margin-top: 10rem;  
}

div#holderPic {
    display: flex;
    flex-direction: column;
    margin-top: 5rem
}

img#user {
    width: 13rem;
    border-radius: 100%;
    align-self: center;
}

#name {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

#typeUser {
    align-self: center;
    margin-top: 0.2rem;
}


#one {
    border-width: 0;
    align-self: center;
    padding: 1rem;
    margin-top: -5rem;
}

form {
    display: flex;
    justify-content: center;
}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    background: inherit;
    border: 0;
}

input{
    border: 1px solid var(--red);
    border-radius: 0.5rem;
    height: fit-content;
    width: 20rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    padding: 0.3rem;
    background: inherit;
    text-align: center;
}

#userlabel{
    margin-top: -1rem;
}

#key input{
    display: block;
    margin: 1rem auto;
}

#key{
    padding: 0;
    border: 0;
}

#tema {
    margin-left: 0.2rem;
}

select {
    background: var(--black);
    font-size: 1.3rem;
    border-width: 0;
    padding: 0;
    width: 20rem;
    text-align: center;
}


#premium{
    background: inherit;
    align-self: center;
    margin: 5rem auto;
}
